### Creating Database Client for Little Lemon DB

Set up the client project

In [1]:
# Import MySQL Connector/Python
import mysql.connector as connector

In [2]:

# Establish connection
connection = connector.connect(user="admin", password="test", db = "littlelemondb")

In [3]:
# Create a cursor object to communicate with MySQL
print("Creating a cursor object.")
cursor = connection.cursor()

Creating a cursor object.

Database tables

In [4]:
# Show all tables within the database
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)

print("Tables in the database:\n")
results = cursor.fetchall()
for result in results:
    print(result[0])

Tables in the database:

bookings
customers
menuitems
orders
ordersview
staff

Get information for a promotional campaign: details about every customer that has placed an order greater than $20

In [5]:
# Quary data from two table
contacts_info_query = """
SELECT c.CustomerID, CONCAT(GuestFirstName, ' ', GuestLastName) AS 'Guest Name', ContactNumber, Email, BillAmount
FROM Orders AS o
LEFT JOIN Bookings AS b ON b.BookingID=o.BookingID
INNER JOIN Customers AS c ON b.CustomerID=c.CustomerID
WHERE BillAmount > 20
"""

In [6]:
cursor.execute(contacts_info_query)

print("Full name, contact details and bill amount for every customer who spent more than $20:\n\n", cursor.column_names, sep='')
results = cursor.fetchall()
for result in results:
    print(result)

Full name, contact details and bill amount for every customer who spent more than $20:

('CustomerID', 'Guest Name', 'ContactNumber', 'Email', 'BillAmount')
(7, 'Olivia Davis', '7890123456', 'olivia.davis@example.com', Decimal('28.00'))
(2, 'Jane Smith', '2345678901', 'jane.smith@example.com', Decimal('21.00'))
(1, 'John Doe', '1234567890', 'john.doe@example.com', Decimal('34.00'))